{% extends 'base.html' %}
{% block content %}
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Bootstrap Datatables</h4>
                        </div>
                        <span class="table-add float-right mb-3 mr-2">
                        <a href="{% url 'add_student' %}" class="btn btn-sm bg-primary">
                            <i class="ri-add-fill"><span class="pl-1">Add New Group</span></i>
                        </a>
                        </span>
                    </div>
                    <div class="card-body">


                        <div class="table-responsive">
                            <table id="datatable-1" class="table data-table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>

                                    <th>Group</th>
                                    <th>Teacher</th>
                                    <th>Amount</th>
                                    <th>Month</th>
                                    <th>Pay</th>

                                </tr>
                                </thead>
                               <tbody>
                               {% for payment in payments %}
                                <tr class="bg-danger">
                                    <td>{{payment.student.name}}</td>

                                    <td>{{payment.group}}</td>
                                    <td>{{payment.group.teacher}}</td>
                                    <td>{{payment.amount}}</td>
                                    <td>{{payment.month}}</td>
                                    <td>
                                        <a class="btn btn-success" href="{% url 'pay_for_student' pk=payment.id %}">Pay</a>
                                    </td>

                                </tr>
                               {% endfor %}
                               </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
